body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
}

#resourceCont {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

#forumlink {
    text-decoration: none;
    border-radius: 5px;
}

header {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-top: 1rem
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 2rem 0;
    padding: 2rem;
    border: transparent;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.329);
    /* contain any floated children (like #time) */
    overflow: auto;
}

#rtbanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.329);
}

#searchbar {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navlinks {
    width: 100%;
    display: flex;
    background-color: black;
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

#btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

#chubttl {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

#titleref {
    color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-top: 18px;
    display: inline-block;
}

#titleref:hover {
    background-color: rgb(211, 211, 211);
}

#home, #forum {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 106, 130);
    border: 2px solid rgb(255, 106, 130);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s all ease;
}

#forum {
    color: #008CBA;
    border: 2px solid #008CBA;
}

#home:hover {
    background-color: rgb(255, 106, 130);
    color: white;
}

#forum:hover {
    background-color: #008CBA;
    color: white;
}

#titletxt {
    font-size: 1.3rem;
    /* allow #time to float to the right beside the title */
    display: inline-block;
    vertical-align: middle;
}

#time {
    font-size: 1.1rem;
    color: #e0e0e0;
    /* move the time to the right side of the list item */
    float: right;
    margin-left: 10px;
}