body {
    font-family: monospace, monospace;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#submit {
    background-color: white;
    color: #008CBA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(211, 211, 211);
}

#titlebox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#URLbox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#descbox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    resize: none;
}

#createCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008CBA;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.329);
}

#rhubt {
    text-decoration: none;
    border-radius: 5px;
}

#home {
    background-color: rgb(0, 110, 255);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
}

#home:hover, #resources:hover {
    background-color: rgb(0, 80, 185);
    margin-bottom: 2px;
}

#resources {
    background-color: rgb(0, 110, 255);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin-left: 10px;
}