body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
}

#submit {
    background-color: white;
    color: #008CBA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(211, 211, 211);
}

#titlebox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#URLbox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#descbox {
    width: 50%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    resize: none;
}

#createCont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #008CBA;
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.329);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 600px;
}

#navlinks {
    width: 100%;
    display: flex;
    background-color: black;
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

#btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

#chubttl {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

#rhubt {
    text-decoration: none;
    border-radius: 5px;
}

#home, #resources {
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 106, 130);
    border: 2px solid rgb(255, 106, 130);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s all ease;
}

#resources {
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

#home:hover {
    background-color: rgb(255, 106, 130);
    color: white;
}

#resources:hover {
    background-color: #4CAF50;
    color: white;
}