body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    font-family: monospace, monospace;
    background-color: #f9f9f9;
    text-align: center;
}

#chub {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#chub:hover {
    background-color: #45a049;
}

#forum {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#forum:hover {
    background-color: #007bb5;
}