<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <h1>WELCOME TO CHUB.</h1>
    </header>
    <p>Use the <b>Resource Hub</b> to browse and create new community resources.</p>
    <section>
        <a id="chub" href="/chub">Browse</a>
        <a id="forum" href="/forum">Create +</a>
    </section>
</body>

</html>