<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reference Page</title>
    <link rel="stylesheet" href="/css/reference.css">
</head>

<body>
    <div id="navlinks">
        <h2 id="chubttl">CHUB.</h2>
        <div id="btns">
            <a id="resources" href="/chub">Resources</a>
            <a id="home" href="/">Home</a>
            <a id="forum" href="/forum">Create +</a>
        </div>
    </div>
    <div id="content">
        <header>
            <h1>Reference Page</h1>
        </header>
        <ul>
            <li><a target="blank" href="/referenceFiles/webmasterStudentCopyrightChecklist.pdf">Student Copyright
                    Checklist</a>
                <ul>
                    <li><a target="blank" href="/referenceFiles/Gmail - Written Copyright Permission Request.PDF">Proof
                            of Copyright Permission from the Centers For Independent Living Opportunities</a></li>
                    <li><a target="blank"
                            href="/referenceFiles/12-1-2025-to-gabriella-stevens-copyright-permi_251205_121150.pdf">Proof
                            of Copyright Permission from the York Housing Authority</a></li>
                    <li><a target="blank" href="/referenceFiles/surplusCopyrightPermissionRequest.pdf">Proof of
                            Copyright Permission from the Surplus Food Bank</a></li>
                </ul>
            </li>
            <li><a target="blank" href="/referenceFiles/worklogfinished.pdf">Work Log</a></li>
        </ul>
        <h5>This website uses the Express.js web application framework and the Embedded JavaScript (EJS) templating engine in combination with the Node.js runtime environment. 
            Express.js only serves as the framework to function with EJS to create dynamic webpages for the user. 
            Node.js, Express.js, and EJS are not pre-built templates. No pre-built templates or themes were used to create this website.
            The entirety of this website was built and programmed by the team during the 2025-2026 school year.</h5>
    </div>
</body>

</html>